#map {
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;


    .icon {

        position: absolute;

        width: 160px !important;
        height: auto !important;

        margin-left: -80px !important;

        background-color: #ededed;
        -moz-box-shadow: 0 0 5px 0px gray;
        -webkit-box-shadow: 0 0 5px 0px gray;
        box-shadow: 0 0 5px 0px gray;

        img {
            width: 100% ;
            height: auto;

            &[src=" "] {
                display: none;
            }
        }

        p {
            padding: 10px;
            padding-bottom: 0;

            .label {
                margin-left: 10px;
            }
        }

        &:hover {
            z-index: 10000 !important;
        }
    }

}